<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <script defer src={{script}}></script>
    <title>{{title}}</title>
</head>
<body>
{{> header}}
<main>
    <h1>{{welcomeMessage}}</h1>
    {{{body}}}
</main>
<br>

{{> footer}}
</body>
</html>