<form id="search-form" onsubmit="return false;">
    <input type="text" id="search-bar" placeholder="Search for videos...">
</form>
<br>
<div id="photo-gallery"></div>
<div id="photo-count">Loading photos...</div>
