<form id="registration-form" method="POST" enctype="multipart/form-data">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>

    <div>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password">
    </div>

    <div>
        <label for="profile_picture">Profile Picture:</label>
        <input type="file" id="profile_picture" name="profile_picture" accept="image/*">
    </div>

    <div>
        <input type="checkbox" id="age_check" name="age_check" required>
        <label for="age_check">I am 13+ years of age</label>
    </div>

    <div>
        <input type="checkbox" id="TOS_Privacy_rules" name="TOS_Privacy_rules" required>
        <label for="TOS_Privacy_rules">
            I accept the <a href="http://google.com">TOS and Privacy rules</a>
        </label>
    </div>

    <div id="error-messages" style="color:red; margin-top:10px;"></div>

    <input type="submit" value="Submit">
    <br>
    {{{error}}}
</form>